<html>

<head>
  <title>register page</title>
</head>

<body>
  <form action="/user/register" method="POST">
    <label for="username">username</label>
    <br>
    <input type="text" name="username" placeholder="input username">
    <br>
    <label for="passowrd">password</label>
    <input type="password" name="password" placeholder="input password">
    <button type="submit">Register</button>
  </form>
</body>

</html>